<body>
    <div class="wrapper">
        <h4>Is AI dangerous?</h4>
    </div>

    <mat-grid-list [cols]="breakpoint" rowHeight="550px" (window:resize)="onResize($event)">

        <mat-grid-tile>
            <mat-card-content class="second-tile">
                <h1>You surely know the situation presented here.</h1>
                <p>Robots looking to take over the world, danger weapons etc. Is this a real risk ? Probably not yet.
                    But AI may have undesirable consequences, experts think two scenarios most likely:
                </p>
                <p><b>The AI is programmed to do something devastating:</b> Autonomous weapons are artificial
                    intelligence systems that are programmed to kill. In the hands of the wrong person, these weapons
                    could easily cause mass casualties. Moreover, an AI arms race could inadvertently lead to an AI war
                    that also results in mass casualties. To avoid being thwarted by the enemy, these weapons would be
                    designed to be extremely difficult to simply “turn off,” so humans could plausibly lose control of
                    such a situation. This risk is one that’s present even with narrow AI, but grows as levels of AI
                    intelligence and autonomy increase.</p>

                <p><b>The AI is programmed to do something beneficial</b>, but it develops a destructive method for
                    achieving
                    its goal: This can happen whenever we fail to fully align the AI’s goals with ours, which is
                    strikingly difficult. If you ask an obedient intelligent car to take you to the airport as fast as
                    possible, it might get you there chased by helicopters and covered in vomit, doing not what you
                    wanted but literally what you asked for.</p>
            </mat-card-content>
        </mat-grid-tile>


        <mat-grid-tile>
            <img src="assets/robot.gif">
        </mat-grid-tile>


        <mat-grid-tile>
            <img src="assets/bd2.gif">
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card-content class="second-tile">
                <h1> How Artificial Intelligence is Used in Today’s Robots?</h1>
                <p>Artificial intelligence (AI) and robotics are a powerful combination for automating tasks inside and
                    outside of the factory setting. In recent years, AI has become an increasingly common presence in
                    robotic solutions, introducing flexibility and learning capabilities in previously rigid
                    applications.</p>
                <p>In today’s global manufacturing sector, there are a few main ways in which AI is deployed.</p>
                <p class="smaller-font"><b>Assembly</b>: AI is a highly useful tool in robotic assembly applications.
                    When combined with
                    advanced vision systems, AI can help with real-time course correction, which is particularly useful
                    in complex manufacturing sectors like aerospace. AI can also be used to help a robot learn on its
                    own which paths are best for certain processes while it’s in operation.</p>
                <p class="smaller-font"><b>Packaging</b>: Robotic packaging uses forms of AI frequently for quicker,
                    lower
                    cost and more
                    accurate packaging. AI helps save certain motions a robotic system makes, while constantly refining
                    them, which makes installing and moving robotic systems easy enough for anybody to do.</p>
                <p class="smaller-font"><b>Customer Service</b>: Robots are now being used in a customer service
                    capacity
                    in retail stores and hotels around the world. Most of these robots leverage AI natural language
                    processing abilities to interact with customers in a more human way. Often, the more these systems
                    can interact with humans, the more they learn. </p>


            </mat-card-content>
        </mat-grid-tile>

    </mat-grid-list>



    <section class="bottom"></section>
</body>