<body>
    <div class="wrapper">
        <h4> But what is artificial intelligence?</h4>
    </div>

    <section id="subtitle">
        <div class="inner">
            <h1>In a simple words :</h1>
            <p>AI is the branch of computer science that aims to answer Turing's question in the affirmative. It is the
                endeavor to replicate or simulate human intelligence in machines.</p>
        </div>
    </section>

    <mat-grid-list [cols]="breakpoint" rowHeight="450px" (window:resize)="onResize($event)">
        <mat-grid-tile data-aos="fade-left" data-aos-duration="2000">
            <img src="assets/ai7.jpg">
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card-content class="second-tile">
                <h1> What Is Artificial Intelligence (AI)?</h1>
                <p>Artificial intelligence (AI) refers to the simulation of human intelligence in machines that are
                    programmed to think like humans and mimic their actions. The term may also be applied to any machine
                    that exhibits traits associated with a human mind such as learning and problem-solving.</p>
                <p>The ideal characteristic of artificial intelligence is its ability to rationalize and take actions
                    that have the best chance of achieving a specific goal. A subset of artificial intelligence is
                    machine learning, which refers to the concept that computer programs can automatically learn from
                    and adapt to new data without being assisted by humans. Deep learning techniques enable this
                    automatic learning through the absorption of huge amounts of unstructured data such as text, images,
                    or video (<span style="font-weight: bold">read more below !)</span>.</p>

            </mat-card-content>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-card-content class="second-tile">
                <h1>What are the different types od AI ?</h1>
                <p>At a very high level, artificial intelligence can be split into two broad types: <span
                        class="highlights"> narrow AI </span>and
                    <span class="highlights">general AI.</span>
                </p>
                <p>As mentioned above, narrow AI is what we see all around us in computers today: intelligent systems
                    that have been taught or have learned how to carry out specific tasks without being explicitly
                    programmed how to do so.</p>

                <p>General AI is very different, and is the type of adaptable intellect found in humans, a flexible form
                    of intelligence capable of learning how to carry out vastly different tasks, anything from
                    haircutting to building spreadsheets, or reasoning about a wide variety of topics based on its
                    accumulated experience. This is the sort of AI more commonly seen in movies, the likes of HAL in
                    2001 or Skynet in The Terminator, but which doesn't exist today – and AI experts are fiercely
                    divided over how soon it will become a reality.</p>
            </mat-card-content>
        </mat-grid-tile>


        <mat-grid-tile data-aos="fade-right" data-aos-duration="2000">
            <img src="assets/types.png">
        </mat-grid-tile>



    </mat-grid-list>

    <mat-grid-list [cols]="breakpoint" rowHeight="200px" (window:resize)="onResize($event)" class="section-info">

        <mat-grid-tile data-aos="fade-left" data-aos-duration="2000" class="section-info-img">
            <img src="assets/machinelearning.jpeg">
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card-content class="section-info-text">
                <h1>Machine learning</h1>
                <p> Machine learningis the study of computer algorithms that improve automatically through
                    experience.It is seen as a subset of artificial intelligence. Machine learning algorithms build
                    a model based on sample data, known as "training data", in order to make predictions or decisions
                    without being explicitly programmed to do so. Machine learning algorithms are used in a wide
                    variety of applications, such as email filtering and computer vision, where it is difficult or
                    unfeasible to develop conventional algorithms to perform the needed tasks.</p>
            </mat-card-content>
        </mat-grid-tile>

        <mat-grid-tile data-aos="fade-left" data-aos-duration="2000" class="section-info-img">
            <img src="assets/deeplearning.jpeg">
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card-content class="section-info-text">
                <h1>Deep learning</h1>
                <p>Deep learning is part of a broader family of machine learning methods based on artificial neural
                    networks with representation learning. Learning can be supervised, semi-supervised or unsupervised.
                </p>
                <p>Deep-learning architectures such as deep neural networks, deep belief networks, recurrent neural
                    networks and convolutional neural networks have been applied to fields including computer vision,
                    machine vision, speech recognition, natural language processing, audio recognition, social network
                    filtering, machine translation, bioinformatics, drug design, medical image analysis, material
                    inspection and board game programs, where they have produced results comparable to and in some cases
                    surpassing human expert performance.</p>
            </mat-card-content>
        </mat-grid-tile>


    </mat-grid-list>

    <section class="bottom"></section>
</body>