<body>
    <div class="wrapper">
        <h4>Artificial Intelligence In Use Today</h4>
    </div>

    <section class="section-subtitle">
        <h1> The machines haven't taken over. Not yet at least. However, they are seeping their way into our lives,
            affecting how we live, work and entertain ourselves. </h1>
        <h1>We present a few examples of the use of artificial intelligence:</h1>
    </section>
    <mat-tab-group mat-align-tabs="center">

        <mat-tab label="1. Intelligent personal assistant">

            <img src="assets/alexa.jpg">


            <p>
                Intelligent personal assistant is a software agent that can perform tasks or services for an individual
                based on commands or questions.
                As of 2017, the capabilities and usage of virtual assistants are expanding rapidly, with new products
                entering the market and a strong emphasis on both email and voice user interfaces. Apple and Google have
                large installed bases of users on smartphones. Microsoft has a large installed base of Windows-based
                personal computers, smartphones and smart speakers. Amazon has a large install base for smart speakers.
                Conversica has over 100 million engagements via its email and sms interface Intelligent Virtual
                Assistants for business.
            </p>

        </mat-tab>

        <mat-tab label="2.  Autonomous vehicle">
            <img src="assets/tesla.jpg">


            <p>
                Autonomous vehicle is a vehicle that is capable of sensing its environment and moving safely with little
                or no human
                input.
                Self-driving cars combine a variety of sensors to perceive their surroundings, such as radar, lidar,
                sonar,
                GPS, odometry and inertial measurement units. Advanced control systems interpret sensory information
                to identify appropriate navigation paths, as well as obstacles and relevant signage.
                Possible implementations of the technology include personal self-driving vehicles, shared robotaxis,
                connected vehicle platoons and long-distance trucking. Several projects to develop a fully
                self-driving commercial car are in various stages of development. Waymo became the first service
                provider to
                offer robotaxi rides to the general public in Phoenix, Arizona in 2020, while Tesla has said it will
                offer
                subscription-based "full self-driving" to private vehicle owners in 2021.Furthermore, the
                autonomous delivery company Nuro has been allowed to start commercial operations in California starting
                in
                2021.
            </p>
        </mat-tab>

        <mat-tab label="3. Online shopping and advertising">
            <img src="assets\onlineshoping.png" />

            <p>Artificial intelligence is widely used to provide personalised recommendations to people, based for
                example on their previous searches and purchases or other online behaviour. AI is hugely important in
                commerce: optimising products, planning inventory, logistics etc. 
                This is often used in social media like Facebook, Twitter or Youtube, where you can see  
                things you were interested in previously.</p>
        </mat-tab>


    </mat-tab-group>
</body>